@charset "UTF-8";

:root {
    --bg-color-grey: #f1f1f1;
    --bg-color-green: #a0c800;
    --bg-color-icon-header: #dbdbdb;
    --bg-color-icon-footer: #525256;
    --bg-color-before-item-nav: #a0c800;
    --bg-color-header: #f2fdef;
    --bg-color-sidebar: rgba(160, 200, 0, 0.1);

    --font-color-black: #373737;
    --font-color-grey: #717171;
    --font-color-white-opaciti-0-6: rgba(255, 255, 255, 0.6);
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Gilroy-Semibold.eot');
    src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: 'Gilroy', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: 'Gilroy', sans-serif;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    color: var(--font-color-black);
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: var(--bg-color-before-item-nav);
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 0;
    color: var(--font-color-black);
}

h1 {
    font-weight: 600;
    font-size: 62px;
}

h1>span {
    font-weight: 400;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

body {
    color: var(--font-color-black);
    font-size: 14px;
}

p {
    margin-bottom: 0;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

section,
article {
    overflow: hidden;
}

.btn-green {
    position: relative;
    z-index: 1;
    min-width: 236px;
    padding: 11px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 34px;
    background-color: var(--bg-color-green);
    overflow: hidden;
    border-radius: 7px;
}

.btn-green>p {
    position: relative;
    z-index: 3;
}

.btn-green-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../image/bg-button.png) center / cover no-repeat;
}

.menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

.header__burger {
    display: none;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.menu-right a {
    color: var(--font-color-black);
    font-weight: 700;
    text-transform: uppercase;
}

.menu__box {
    padding: 29px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
}

.menu-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.menu__info {
    display: flex;
    align-items: center;
}

.menu .soc-icon {
    margin-right: 15px;
}

.soc-icon {
    display: flex;
}

.menu__list-box {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.soc-icon a {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.soc-icon a {
    margin-right: 5px;
}

.soc-icon a:last-of-type {
    margin-right: 0;
}

.menu .soc-icon a {
    background-color: var(--bg-color-icon-header);
}

.menu .phone {
    margin-left: 26px;
}

.phone {
    display: flex;
    flex-direction: column;
}

.menu__buttons {
    margin-left: 31px;
    padding-right: 17px;
}

.menu__buttons button[id='basket'] {
    position: relative;
    margin-right: 23px;
}

.menu__buttons button[id='basket'] span {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    top: -10px;
    right: -12px;
    background: #a0c800;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
}

.menu__buttons button {
    margin-right: 15.56px;
}

.menu__buttons button:last-of-type {
    margin-right: 0;
}

.menu__list {
    max-width: 1088px;
    width: 100%;
    margin: 0 -3px;
}

.menu__item>a {
    display: inline-block;
    position: relative;
    line-height: 32px;
    padding: 0 3px 15px 3px;
}

.menu__item>a:hover::before {
    opacity: 1;
}

.menu__item>a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bg-color-before-item-nav);
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu__list-box li[class='menu__btn'],
.menu__list-box li[class='menu__soc'],
.menu__list-box li[class='menu__phone'] {
    display: none;
}

.footer {
    overflow: hidden;
    padding: 60px 0 11px 0;
    background-color: #363637;
    color: #fff;
}

.footer__line {
    display: flex;
    margin: 0 -15px;
}

.footer-menu {
    font-size: 14px;
}

.footer-menu li {
    margin-bottom: 7px;
}

.footer-menu__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.footer-menu__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 423px;
    margin: 0 -10px;
}

.footer-menu__flex ul {
    padding: 0 10px;
}

.footer-menu__item a {
    line-height: 28px;
    color: var(--font-color-white-opaciti-0-6);
}

.footer-menu__item a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer__contacts {
    max-width: 270px;
    width: 100%;
}

.footer__contacts .footer__contacts-info:nth-of-type(2) {
    margin-bottom: 12px;
}

.footer__contacts-info {
    margin-bottom: 20px;
}

.footer__contacts-info:last-of-type {
    margin-bottom: 0;
}

.footer__contacts-info a {
    position: relative;
    padding-left: 22px;
    color: #ffffff;
}

.footer__contacts-info a>img {
    top: calc(50% - 7px);
}

.footer__contacts-info img {
    position: absolute;
    top: 0;
    left: 0;
}

.footer__contacts-info .phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 0;
}

.footer__contacts .soc-icon a {
    background-color: var(--bg-color-icon-footer);
}

.footer__contacts .btn-green {
    margin-top: 22px;
    max-width: 100%;
    width: 100%;
}

.footer__column {
    margin-bottom: 16px;
}

.privacy-policy {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}

.privacy-policy:hover {
    color: rgba(255, 255, 255, 1);
}

/* MAIN */
.main {
    margin-top: 152px;
    position: relative;
    padding: 80px 0 0 0;
}

/* CHILD PAGES */
.crumbs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    background-color: rgba(221, 222, 222, 0.22);
}

.crumbs__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.crumbs__item {
    margin-right: 14px;
}

.crumbs__item a {
    position: relative;
    font-weight: 500;
    color: rgba(55, 55, 55, 0.4);
    line-height: 28px;
}

.crumbs__item a:hover {
    color: #a0c800;
}

.crumbs__item a::after {
    position: absolute;
    content: '';
    right: -9px;
    width: 4px;
    height: 4px;
    background-color: #a0c800;
    top: calc(50% - 2px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.crumbs__item:last-of-type a::after {
    display: none;
}

.crumbs__item:last-of-type {
    margin-right: 0;
}

.section-margin {
    margin-bottom: 72px;
}

/* PAYMENT AND DELIVERY */

.payment-delivery-container {
    max-width: 1005px;
    width: 100%;
}

.payment-delivery-info {
    font-weight: 500;
    font-size: 14px;
}

.payment-delivery-info h2,
.payment-delivery-info h3 {
    margin-bottom: 30px;
}

.payment-delivery-info p {
    line-height: 25px;
}

.payment-delivery__methods {
    margin-top: 40px;
}

.payment-delivery__methods-title {
    margin-bottom: 20px;
}

.payment-delivery__methods-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px -20px -25px;
}

.payment-delivery__methods-item {
    display: flex;
    align-items: flex-start;
    padding: 0 25px 20px 25px;
    flex: 1 1 50%;
}

.payment-delivery__methods-item img {
    margin-right: 20px;
}

.payment-delivery__methods-item p {
    line-height: 25px;
}

.conditions.section-margin {
    margin-bottom: 80px;
}

.conditions {
    padding: 90px 0 76px 0;
    background: rgba(221, 222, 222, 0.22);
}

.conditions__price {
    margin-top: 60px;
}

.conditions__price-title {
    margin-bottom: 27px;
}

.conditions__price-variants {
    max-width: 870px;
    width: 100%;
    margin: -18px 0;
}

.conditions__price-item {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.15);
}

.conditions__price-item td {
    padding: 18px 0;
}

.conditions__price-item td:first-of-type {
    margin-right: 10px;
}

.conditions__price-item:last-of-type {
    border: none;
}

.conditions__price-item td:last-of-type {
    text-align: right;
}

.map.section-margin {
    margin-bottom: 159px;
}

.map {
    margin-top: 80px;
}

.map__title {
    margin-bottom: 30px;
}

.map__info {
    font-weight: 500;
    font-size: 14px;
}

.map__info>p {
    margin-bottom: 37px;
}

.map__contacts li {
    margin-bottom: 12px;
}

.map__contacts li:last-of-type,
.map__contacts li .phone>a:last-of-type {
    margin-bottom: 0;
}

.map__contacts li .phone>a {
    margin-bottom: 15px;
}

.map__box {
    width: 100%;
    height: 504px;
    margin-top: 29px;
}

.map__box iframe {
    height: 100%;
}

/* CONTACTS */
.contacts-info h2 {
    margin-bottom: 35px;
}

.contacts-info__block {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 54px 75px 44px 100px;
    background: rgba(221, 222, 222, 0.22);
}

.contacts-info__block-column {
    font-weight: 500;
    font-size: 14px;
}

.contacts-info__block-column:first-of-type {
    max-width: 572px;
    margin-right: 40px;
}

.contacts-info__block-column>h6 {
    margin-bottom: 10px;
}

.contacts-info__block-text {
    color: var(--font-color-grey);
    margin-bottom: 20px;
}

.contacts-info__block-text li {
    line-height: 25px;
}

.contacts-info__block-text li:last-of-type {
    margin-bottom: 0;
}

.contacts-info__block-column .phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-info__block-column a {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.contacts-info__block-column .soc-icon {
    flex-direction: column;
}

.soc-icon__block {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.soc-icon__block:last-of-type {
    margin-bottom: 0;
}

.contacts-info__block-column .soc-icon .soc-icon__block a {
    background: var(--bg-color-icon-header);
    border-radius: 3px;
    margin-right: 12px;
}

.soc-icon-text span {
    line-height: 25px;
    color: var(--font-color-grey);
}

.contacts-info__block-column>button {
    margin-top: 38px;
}

.map {
    overflow: hidden;
}

.contacts-info .map {
    margin-top: 60px;
    margin-bottom: 113px;
}

/* NEWS */
.page-news {
    margin-bottom: 110px;
}

.page-news__box {
    padding: 0 200px;
}

.page-news__img {
    width: 100%;
    height: 448px;
    border-radius: 7px;
    margin-bottom: 40px;
    overflow: hidden;
}

.page-news__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-news__text {
    color: var(--font-color-grey);
    font-weight: 500;
}

.page-news__text>span {
    font-size: 16px;
    color: #9e9e9e;
    margin-bottom: 15px;
    display: block;
}

.page-news__text h3 {
    margin-bottom: 30px;
}

.page-news__text p {
    line-height: 26px;
    margin-bottom: 30px;
}

.page-news__text p:last-child {
    margin-bottom: 0;
}

.news {
    padding-bottom: 170px;
}

.news .container>.row {
    margin-bottom: -64px;
}

.news__title {
    margin-bottom: 40px;
}

.news__box {
    padding-bottom: 64px;
}

.news__box-img {
    width: 100%;
    height: 332px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
}

.news__box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news__box-text {
    font-weight: 500;
}

.news__box-text h5,
.news__box-text p {
    margin-bottom: 20px;
}

.news__box-text p {
    line-height: 20px;
    color: var(--font-color-grey);
}

.news__box-text a {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #a0c800;
    border-bottom: 1.5px dashed rgba(160, 200, 0, 0);
}

.news__box-text a:hover {
    border-bottom: 1.5px dashed rgba(160, 200, 0, 1);
}

.news__box-text a>svg {
    position: absolute;
    top: calc(50% - 5px);
    right: -11px;
}

.news-catalog {
    margin-bottom: 128px;
}

.news-catalog .news {
    padding-bottom: 84px;
}

/* PAGE NAV */

.page-link {
    background: none !important;
    border: none;
    font-weight: bold;
    padding: 0 2px;
    line-height: 19px;
    margin: 0 .75rem !important;
    font-size: 14px;
    color: #222222 !important;
}

.page-item:first-of-type a,
.page-item:last-of-type a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.page-item:first-of-type a>svg>path,
.page-item:last-of-type a>svg>path {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.page-item:first-of-type a:hover>svg>path,
.page-item:last-of-type a:hover>svg>path {
    fill: #a0c800;
}

.page-item a:hover,
.page-item a:hover {
    color: #a0c800 !important;
}

.page-item:last-of-type a>svg {
    margin-left: 10px;
}

.page-item:first-of-type a>svg {
    margin-right: 10px;
}

.page-item.active a {
    position: relative;
    background: none;
    color: #a0c800;
}

.page-item.active a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #a0c800;
}

/* ABOUT */

.about-company {
    margin-bottom: 163px;
}

.about-company__text {
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 82px;
}

.about-company__title {
    margin-bottom: 40px;
}

.about-company .advantages {
    margin-bottom: 100px;
}

.advantages {
    margin-bottom: 170px;
}

.advantages__text-box {
    max-width: 637px;
    width: 100%;
}

.advantages__title {
    margin-bottom: 40px;
}

.advantages__text {
    font-size: 18px;
    line-height: 27px;
}

.advantages__text p {
    margin-bottom: 29px;
}

.advantages__text p:last-of-type {
    margin-bottom: 0;
}

.advantages__list {
    max-width: 631px;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
}

.advantages__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 51px;
}

.advantages__item img {
    margin-right: 26px;
}

.advantages__item:last-of-type {
    margin-bottom: 0;
}

.about-company .advantages-question {
    margin-bottom: 80px;
}

.advantages-question {
    padding: 130px 0;
    background-color: var(--bg-color-green);
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.advantages-question__box {
    display: flex;
    align-items: flex-start;
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
}

.advantages-question__img {
    margin-right: 20px;
    min-width: 85px;
    height: 85px;
}

.advantages-question__img img {
    width: 100%;
    height: 100%;
}

.advantages-question__text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.advantages-question__text h5 {
    font-weight: 600;
    margin-bottom: 16px;
    color: #fff;
}

.about-company__text-bottom {
    font-size: 18px;
    line-height: 31px;
}

.about-company__text-bottom p {
    margin-bottom: 40px;
}

.about-company__text-bottom p:last-of-type {
    margin-bottom: 0;
}

/* CARD PRODUCT*/

.card-product {
    margin-bottom: 169px;
}

.card-product__box-slider {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.card-product__box-img {
    height: 100%;
}

.card-product__box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-product__info {
    font-size: 14px;
    font-weight: 500;
}

.card-product__name {
    margin-bottom: 15px;
}

.card-product__name h4 {
    line-height: 36px;
}

.card-product__name-cod {
    line-height: 22px;
}

.card-product__price {
    margin-bottom: 20px;
}

.card-product .card-product__price .quantity {
    margin-bottom: 12px;
}

.quantity {
    color: #9e9e9e;
}

.card-product .card-product__price .price {
    margin-bottom: 27px;
}

.price {
    display: flex;
    align-items: flex-end;
}

.price p:first-of-type>span {
    font-weight: 600;
    font-size: 24px;
}

.price p:last-of-type>span {
    font-size: 18px;
}

.price p {
    font-weight: 700;
    font-size: 16px;
}

.price p:last-of-type {
    font-weight: 500;
    margin-left: 31px;
    color: #a0c800;
}

.card-product__price-buttons {
    display: flex;
}

.card-product__price-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 83px;
    max-width: 83px;
    height: 56px;
    border-radius: 7px;
    border: 1px solid #dedede;
    margin-right: 10px;
}

.card-product__price-counter button,
.card-product__price-counter input {
    font-weight: 600;
    font-size: 16px;
    color: #4f5858;
}

.card-product__price-counter input {
    width: 42px;
    text-align: center;
}

.card-product__characteristics {
    margin-bottom: 33px;
    font-weight: 500;
}

.card-product__characteristics h6 {
    line-height: 32px;
}

.card-product__characteristics-list {
    margin-bottom: 10px;
}

.card-product__characteristics-list li {
    line-height: 25px;
}

.card-product__characteristics-description {
    line-height: 25px;
}

.card-product__characteristics-description h6 {
    margin-bottom: 10px;
}

.variants {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px -10px;
}

.variants-box {
    padding: 0 10px 20px 10px;
}

.variants-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 172px;
    height: 176px;
    padding: 13px 0 15px;
    background: #f8f8f8;
    border-radius: 7px;
}

.variants-item:last-of-type {
    margin-right: 0;
}

.variants-item img {
    margin-bottom: 5px;
}

.variants-item p {
    line-height: 29px;
    font-weight: 700;
    font-size: 16px;
}

/* SLIDER */
.card-product__box-slider .arrow-prev {
    left: 20px;
}

.card-product__box-slider .arrow-next {
    right: 20px;
}

.card-product__box-slider .slick-track,
.card-product__box-slider .slick-list {
    height: 100%;
}

.slider-arrow {
    position: absolute;
    z-index: 1000;
    top: calc(50% - 23.5px);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slider-arrow svg path {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.slider-arrow:hover svg path {
    stroke: #a0c800;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
}

.slider-products {
    margin-top: 80px;
}

.slider-products .slider-arrow {
    top: calc(40% - 23.5px);
}

.slider-products .container {
    position: relative;
    z-index: 4;
}

.slider-products h3 {
    margin-bottom: 30px;
}

.slider-products__box {
    overflow: hidden;
    width: 100%;
}

.slider-products__box .slick-list .slick-track {
    display: flex;
    width: 100%;
}

.product-card {
    cursor: pointer;
    display: block;
    max-width: 25%;
    padding: 0 15px;
}

.product-card:hover {
    color: inherit;
}

.product-card h5 {
    margin-bottom: 10px;
}

.product-card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 378px;
    background-color: #f8f8f8;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 25px;
}

.product-card__img-box {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-card__img-box img {
    object-fit: cover;
}

.product-card__text p {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.arrow-prev2 {
    left: -5px;
}

.arrow-next2 {
    right: -5px;
}

/* CATALOG */
.catalog__box-cards .product-card {
    max-width: 100%;
    padding: 0;
}

.catalog {
    margin-bottom: 110px;
}

.catalog__descript {
    font-size: 18px;
    color: var(--font-color-grey);
    line-height: 31px;
    margin-bottom: 30px;
}

.catalog__box-cards {
    margin-bottom: 84px;
}

.catalog__box-cards .row {
    margin: -22px -15px;
}

.catalog__box-cards .row>div {
    padding: 22px 15px;
}

.catalog__title {
    margin-bottom: 40px;
}

.catalog .page-item:first-of-type {
    margin-right: auto;
}

.catalog .page-item:first-of-type a {
    margin-left: 0 !important;
}

.catalog .page-item:last-of-type {
    margin-left: auto;
}

.catalog .page-item:last-of-type a {
    margin-right: 0 !important;
}

.catalog__filter li>button {
    font-weight: bold;
    font-size: 16px;
    color: var(--font-color-black);
}

.catalog__filter li>button {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 22px;
    width: 100%;
    text-align: left;

}

.catalog__filter li>button>p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.catalog__filter li>button>svg {
    min-width: 27px;
    margin-left: 15px;
}

.catalog__filter li>button:hover {
    background: rgba(160, 200, 0, 0.1);
    color: #A0C800;
    text-transform: uppercase;
}

.catalog__filter li>button:hover>svg>path {
    stroke-opacity: 1;
    stroke: #A0C800;
}

.catalog__filter li:not(li:last-child) {
    border-bottom: 1px solid rgba(221, 222, 222, 0.22);
}

/* INDEX */
#link-catalog>a {
    position: relative;
}

#link-catalog.active>a::before {
    opacity: 1;
}

#link-catalog>a::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: calc(50% - 7.5px);
    border: 7.5px solid transparent;
    border-bottom: 7.5px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#link-catalog.active>a::after {
    opacity: 1;
}

#link-catalog.active .dop-menu {
    display: block;
}

.dop-menu {
    position: absolute;
    max-width: 835px;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 30px 30px 24px 30px;
    background: #ffffff;
    box-shadow: 0px 4px 50px 20px rgba(71, 71, 71, 0.11);
    border-radius: 7px;
    display: none;
}

.dop-menu .row {
    margin: -7.5px;
}

.dop-menu .row>div {
    padding: 7.5px;
}

.dop-menu .row>div:last-child {
    margin-top: 2px;
}

.dop-menu .row>div:last-child>a {
    display: inline-flex;
}

.dop-menu .row>div:last-child>a svg {
    margin-left: 11px;
}

.dop-menu .row>div:nth-child(4) .drop-menu__item .drop-menu__item-img {
    width: 144px;
}

.dop-menu .row>div:nth-child(6) .drop-menu__item {
    background-color: var(--bg-color-green);
}

.dop-menu .row>div:nth-child(6) .drop-menu__item .drop-menu__item-img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dop-menu .row>div:nth-child(6) .drop-menu__item .drop-menu__item-img img {
    width: 100%;
}

.dop-menu .row>div:nth-child(6) .drop-menu__item .drop-menu__item-text,
.dop-menu .row>div:nth-child(6) .drop-menu__item .drop-menu__item-text h6 {
    color: #ffffff;
}

.drop-menu__item {
    position: relative;
    height: 102px;
    background: #f1f1f1;
    border-radius: 7px;
    overflow: hidden;
}

.drop-menu__item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.drop-menu__item a:hover {
    color: #a0c800;
}

.drop-menu__item-img {
    position: absolute;
    height: auto;
    top: calc(50% - 38.5px);
    right: 25px;
    width: 80px;
    height: 80px;
}

.drop-menu__item-img img {
    object-fit: contain;
    height: 100%;
}

.drop-menu__item-text {
    position: relative;
    z-index: 2;
    padding-left: 30px;
    box-sizing: content-box;
    max-width: 267px;
    text-transform: uppercase;
}

.drop-menu__item-text span {
    display: block;
    line-height: 17px;
    font-weight: 400;
}

.drop-menu__item-text h6 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 25px;
}

.cup-links {
    margin-bottom: 197px;
}

.cup-links .row {
    margin-bottom: -15px;
    margin-top: -15px;
}

.cup-links .row>div {
    padding: 15px 15px;
}

.cup-links__item {
    cursor: pointer;
    height: 370px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 40px;
    overflow: hidden;
    background: var(--bg-color-grey);
    border-radius: 7px;
}

.cup-links__img {
    position: absolute;
    z-index: 1;
}

.col-xl-3 .cup-links__item .cup-links__img {
    width: 280px;
    height: 280px;
    bottom: 10px;
    right: -20px;
}

.col-xl-3:nth-child(4) .cup-links__item .cup-links__img,
.col-xl-3:nth-child(3) .cup-links__item .cup-links__img,
.col-xl-3:nth-child(2) .cup-links__item .cup-links__img {
    height: 227px;
    bottom: 45px;
    right: -66px;
}

.col-xl-3:nth-child(2) .cup-links__item .cup-links__img {
    right: -50px;
}

.col-xl-3:nth-child(4) .cup-links__item .cup-links__img {
    right: -72px;
}

.col-xl-9 .cup-links__item .cup-links__img {
    width: 761px;
    right: 86px;
}

.col-xl-3:last-child .cup-links__item {
    background-color: var(--bg-color-green);
}

.col-xl-3:last-child .cup-links__item .cup-links__img {
    max-width: 304px;
    bottom: 36px;
    left: 40px;
    right: 40px;
}

.col-xl-3:last-child .cup-links__item .cup-links__img img {
    height: 294px;
}

.col-xl-3:last-child .cup-links__item .cup-links__text,
.col-xl-3:last-child .cup-links__item .cup-links__text h4 {
    color: #fff;
}

.col-xl-3:last-child .cup-links__item .cup-links__text {
    max-width: 295px;
}

.cup-links__item:hover svg {
    animation: arrow-x 1s ease-in-out infinite alternate;
    -webkit-animation: arrow-x 1s ease-in-out infinite alternate;
}

@keyframes arrow-x {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
    }
}

.cup-links__item img {
    object-fit: cover;
    object-position: center;
}

.cup-links__item svg {
    margin-bottom: 21px;
}

.cup-links__text {
    position: relative;
    z-index: 2;
    max-width: 183px;
    text-transform: uppercase;
}

.cup-links__text h4 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 36px;
}

.cup-links__text span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.header {
    overflow: hidden;
    margin-top: 141px;
    width: 100%;
    height: 817px;
    padding: 71px 0;
    margin-bottom: 62px;
    background-color: #f2fdef;
}

.header .row {
    position: relative;
}

.header-text {
    position: relative;
    z-index: 2;
    max-width: 530px;
    width: 100%;
}

.header-text h1 {
    line-height: 62px;
    margin-bottom: 18px;
}

.header-text>p {
    max-width: 500px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.header__img {
    position: absolute;
    z-index: 1;
    right: -70px;
    top: calc(50% - 355px);
    width: 830px;
}

/* MEDIA*/
@media screen and (min-width: 992px) {
    .container {
        max-width: 1600px;
    }

    #link-catalog:hover>a::before {
        opacity: 1;
    }

    #link-catalog:hover>a::after {
        opacity: 1;
    }

    #link-catalog:hover .dop-menu {
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    .header__img {
        right: -200px;
    }
}

@media screen and (max-width: 1200px) {
    .header__img {
        right: -360px;
    }

    .card-product__characteristics {
        margin-bottom: 0;
    }

    .cup-links {
        margin-bottom: 120px;
    }

    .col-xl-3:last-child .cup-links__item .cup-links__img {
        max-width: 100%;
        width: 100%;
        padding-right: 80px;
        right: initial;
    }

    .col-xl-3:last-child .cup-links__item .cup-links__img img {
        width: 100%;
    }

    .col-xl-9 .cup-links__item .cup-links__img {
        right: -65px;
    }

    .page-new__box {
        padding: 0 215px;
    }


    .advantages-question .container>.row {
        margin-bottom: -40px;
    }

    .advantages-question__box {
        margin-bottom: 40px;
    }

    .advantages-question {
        padding: 90px 0;
    }
}

@media screen and (max-width: 992px) {
    .header {
        height: 620px;
    }

    .header__img {
        top: calc(50% - 310px);
        width: 620px;
        right: -275px;
    }

    .card-product__box-slider {
        height: 450px;
        margin-bottom: 25px;
    }

    .page-news__box {
        padding: 0 100px;
    }

    .catalog__filter li:not(li:last-child) {
        border-right: 1px solid rgba(221, 222, 222, 0.22);
    }

    .catalog__filter {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        margin-bottom: 20px;
    }

    .catalog__filter>li {
        display: flex;
        align-items: stretch;
        max-width: 33.3%;
        width: 100%;
    }

    #link-catalog>a::after {
        display: none;
    }

    .dop-menu {
        margin-top: 15px;
        position: relative;
        top: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .col-xl-9 .cup-links__item .cup-links__img {
        right: 40px;
        bottom: calc(50% - 82.5px);
        width: 480px;
    }

    .page-news__text {
        padding: 0;
    }

    .menu__buttons {
        padding-right: 0;
    }

    .arrow-prev2 {
        left: 25px;
    }

    .arrow-next2 {
        right: 25px;
    }

    .advantages__text-box {
        max-width: 100%;
    }

    .advantages__text {
        margin-bottom: 40px;
    }

    .page-news,
    .news-catalog,
    .about-company,
    .card-product,
    .advantages,
    .advantages-question,
    .cup-links {
        margin-bottom: 100px;
    }

    .news {
        padding-bottom: 100px;
    }

    .news__box {
        padding-bottom: 30px;
    }

    .news .container>.row {
        margin-bottom: -30px;
    }

    .contacts-info .map {
        margin-bottom: 80px;
    }

    .contacts-info__block {
        padding: 54px 25px 44px 25px;
    }

    .section-margin {
        margin-bottom: 80px !important;
    }

    .payment-delivery__methods-item {
        padding: 0 15px 20px 15px;
    }

    .payment-delivery__methods-items {
        margin: 0 -15px -20px -15px;
    }

    .container {
        max-width: 100%;
    }

    .menu .phone {
        margin-left: 0;
    }

    .menu__info>.soc-icon,
    .menu__info>.btn-green {
        display: none;
    }

    .menu__list {
        position: fixed;
        z-index: 100;
        top: 130px;
        height: calc(100% - 132px);
        right: 0;
        width: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: width 0.5s ease 0.3s;
        -webkit-transition: width 0.5s ease 0.3s;
        -moz-transition: width 0.5s ease 0.3s;
        -ms-transition: width 0.5s ease 0.3s;
        -o-transition: width 0.5s ease 0.3s;
    }

    .menu__list.active {
        width: 320px;
    }

    .menu__list-box>li {
        margin-bottom: 15px;
    }

    .menu__list-box>li:last-of-type {
        margin-bottom: 0;
    }

    .menu__list-box li[class='menu__btn'],
    .menu__list-box li[class='menu__soc'] {
        display: block;
    }

    .menu .soc-icon {
        margin-right: 0;
    }

    .menu__list-box {
        flex-direction: column;
        align-items: flex-end;
        min-width: 320px;
        margin-top: 0;
        padding: 0 20px;
    }

    body.lock {
        overflow: hidden;
    }

    .header__burger {
        display: block;
        margin-top: 14px;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
}

@media screen and (max-width: 768px) {
    .page-news__box {
        padding: 0 50px;
    }

    .catalog__descript {
        font-size: 16px;
    }

    .catalog__title {
        margin-bottom: 20px;
    }

    .catalog__filter>li {
        max-width: 49.9999%;
    }

    .header__img {
        right: -400px;
    }

    .about-company__text .row .col-md-6 {
        margin-bottom: 20px;
    }

    .about-company__text .row .col-md-6:last-of-type {
        margin-bottom: 0;
    }

    .conditions__price {
        margin-top: 40px;
    }

    .conditions {
        padding: 40px 0 55px 0;
    }

    .section-margin {
        margin-bottom: 50px !important;
    }

}

@media screen and (max-width: 680px) {
    .advantages-question {
        padding: 50px 0;
    }

    .payment-delivery__methods-item {
        padding: 0;
        margin-bottom: 20px;
    }

    .payment-delivery__methods-items .payment-delivery__methods-item:last-child {
        margin-bottom: 0;
    }

    .payment-delivery__methods-items {
        margin: 0;
    }

    .payment-delivery__methods-items {
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {
    .header__img {
        right: -260px;
        top: calc(50% - 205px);
        width: 420px;
    }

    .header-text {
        max-width: 420px;
    }

    .header {
        height: 440px;
    }

    .header-text h1 {
        line-height: 40px;
    }

    h1 {
        font-size: 36px;
    }

    .col-xl-9 .cup-links__item .cup-links__img {
        right: initial;
        left: 40px;
    }

    .card-product__box-slider {
        height: 300px;
    }

    .advantages-question__text h5 {
        margin-bottom: 5px;
    }

    .advantages-question__box {
        font-size: 14px;
        line-height: 20px;
    }

    .contacts-info .map {
        margin-bottom: 60px;
    }

    .contacts-info__block {
        flex-direction: column;
        padding: 25px 20px 25px 20px;
    }

    .contacts-info__block-column {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .contacts-info__block-column:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    .page-news__box {
        padding: 0;
    }

    .catalog__filter>li {
        border-right: none !important;
        max-width: 100%;
    }

    .advantages-question,
    .about-company .advantages-question,
    .about-company .advantages,
    .card-product,
    .advantages,
    .cup-links {
        margin-bottom: 50px;
    }

    .about-company__title,
    .advantages__title {
        margin-bottom: 20px;
    }

    .about-company__text {
        margin-bottom: 40px;
    }

    .menu__buttons {
        margin-left: 0;
    }

    .menu__info .phone {
        display: none;
    }

    .menu__list-box li[class='menu__phone'] {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .catalog__descript {
        font-size: 14px;
    }

    .cup-links__text h4 {
        line-height: 22px;
        font-size: 18px;
    }

    .cup-links__item img {
        margin: 0 auto;
        display: block;
    }

    .col-xl-9 .cup-links__item .cup-links__img {
        width: 220px;
        left: initial;
        bottom: calc(50% - 40px);
        right: 40px;
    }

    .col-xl-3 .cup-links__item .cup-links__img {
        width: 123px;
        height: 120px !important;
        bottom: 20px !important;
        right: 20px !important;
    }

    .cup-links__item {
        height: 220px;
    }

    .news-catalog .news {
        padding-bottom: 50px;
    }

    .slider-arrow {
        display: none !important;
    }

    .variants-item {
        width: 155px;
    }

    .advantages__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages__item img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .about-company__text,
    .advantages__text,
    .advantages__list,
    .about-company__text-bottom {
        font-size: 16px;
        line-height: 26px;
    }

    .menu__list {
        height: calc(100% - 100px);
    }

    .page-link {
        margin: 0 0.35rem !important;
    }

    .news__box-img {
        height: 155px;
    }

    .page-news__img {
        height: 200px;
    }

    .page-news,
    .news-catalog,
    .about-company {
        margin-bottom: 50px;
    }

    .news {
        padding-bottom: 50px;
    }

    .news__box-img {
        margin-bottom: 20px;
    }

    .page-news__text h3,
    .page-news__text p {
        margin-bottom: 15px;
    }

    .menu__list {
        top: 100px;
    }

    .menu__list.active {
        width: 100%;
    }

    .menu__list-box {
        align-items: center;
    }

    .main,
    .header {
        margin-top: 100px;
    }

    .menu .logo {
        width: 105px;
    }

    .menu__box {
        height: 100px;
    }

    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 380px) {
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h5 {
        font-size: 18px;
    }

    .variants-item {
        width: 135px;
    }

    .card-product__price-counter {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-product__price-buttons {
        flex-direction: column;
    }

    .footer .row:nth-of-type(1) {
        flex-direction: column;
    }
}